<ion-header>
  <ion-toolbar>
    <ion-title style="font-size: 1rem;">
      <div style="float: left" *ngIf="language == 'en'">Avaluator - {{counter}}p. <span [style.color]="evalStyle">{{eval}}</span></div>
      <div style="float: left" *ngIf="language == 'sw'">Avaluator - {{counter}}p. <span [style.color]="evalStyle">{{evalsw}}</span></div>
      <span style="float: right"> 
        <img width="15px" (click)="setLanguage('en')" src="../../../assets/icon/english.jpg">
        <img width="15px" (click)="setLanguage('sw')" src="../../../assets/icon/swedish.png">
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="avaluator-condition-questions">
      <ion-card-content>
        <div *ngIf="language == 'en'">Avalanche conditions</div>
        <div *ngIf="language == 'sw'">Lavinförhållanden</div>
        <ion-grid>
          <ion-row>
            <ion-col size="9" style="background-color: mediumblue; color: white;">
              <div *ngIf="language == 'en'">Is the avalanche danger rating 'Considerable' or higher?</div>
              <div *ngIf="language == 'sw'">Regional lavinprognos "Betydande" eller högre?</div>
            </ion-col>
            <ion-col size="1" style="background-color: mediumblue; color: white;">
              <ion-checkbox (ionChange)="upAvalanceConditions($event, 1)"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="background-color: mediumblue; color: white;">
              <div>+1p</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="9" style="background-color: mediumblue; color: white;">
              <div *ngIf="language == 'en'">Is there a persistent or deep persistent slab problem in the snowpack?</div>
              <div *ngIf="language == 'sw'">Finns det ett ihållande eller djupt ihållande problem med snöflak?</div>
            </ion-col>
            <ion-col size="1" style="background-color: mediumblue; color: white;">
              <ion-checkbox (ionChange)="upAvalanceConditions($event, 1)"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="background-color: mediumblue; color: white;">
              <div>+1p</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="9" style="background-color: mediumblue; color: white;">
              <div *ngIf="language == 'en'">Are there signs of slab avalanches in the area from today or yesterday?</div>
              <div *ngIf="language == 'sw'">Finns det tecken på flakskred från i dag eller igår?</div>
            </ion-col>
            <ion-col size="1" style="background-color: mediumblue; color: white;">
              <ion-checkbox (ionChange)="upAvalanceConditions($event, 1)"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="background-color: mediumblue; color: white;">
              <div>+1p</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="9" style="background-color: mediumblue; color: white;">
              <div *ngIf="language == 'en'">Are there signs of snowpack instability including whumpfs, shooting cracks or drum-like sounds?</div>
              <div *ngIf="language == 'sw'">Finns det tecken på snöpacksinstabilitet, skjutsprickor eller trumliknande ljud?</div>
            </ion-col>
            <ion-col size="1" style="background-color: mediumblue; color: white;">
              <ion-checkbox (ionChange)="upAvalanceConditions($event, 1)"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="background-color: mediumblue; color: white;">
              <div>+1p</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="9" style="background-color: mediumblue; color: white;">
              <div *ngIf="language == 'en'">Has there been loading within the past 48 hours including roughly 30cm of new snow or more, significant wind transport or rain?</div>
              <div *ngIf="language == 'sw'">Har det dumpat inom
                48 timmar, dvs > 25 cm nysnö, har det varit betydande vind
                transport eller regn?</div>
            </ion-col>
            <ion-col size="1" style="background-color: mediumblue; color: white;">
              <ion-checkbox (ionChange)="upAvalanceConditions($event, 1)"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="background-color: mediumblue; color: white;">
              <div>+1p</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="9" style="background-color: mediumblue; color: white;">
              <div *ngIf="language == 'en'">Has there been a recent rapid rise in temperature to near 0 °C, or is the upper snowpack wet due to strong sun, above-freezing air temperatures or rain?</div>
              <div *ngIf="language == 'sw'">Har det skett en snabb temperaturuppgång nyligen 
                till nära 0 °C, eller är det övre
                snötäcket slaskigt pga stark sol, överfrysande lufttemperaturer eller regn?</div>
            </ion-col>
            <ion-col size="1" style="background-color: mediumblue; color: white;">
              <ion-checkbox (ionChange)="upAvalanceConditions($event, 1)"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="background-color: mediumblue; color: white;">
              <div>+1p</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card class="avaluator-terrain-questions">
      <ion-card-content>
        <div *ngIf="language == 'en'">Terrain characteristics</div>
        <div *ngIf="language == 'sw'">Terrängegenskaper</div>
        
        <ion-grid>
          <ion-row>
            <ion-col size="9" style="background-color: lightskyblue; color: darkblue;">
              <div *ngIf="language == 'en'">Slope steepness between 30 and 35 degrees?</div>
              <div *ngIf="language == 'sw'">Lutar backen mellan 30 och 35 grader?</div>
            </ion-col>
            <ion-col size="1" style="background-color: lightskyblue; color: darkblue;">
              <ion-checkbox id="degrees1p" [(ngModel)]="degrees1pChecked" (ionChange)="upTerrainCharacteristics($event, 1)"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="background-color: lightskyblue; color: darkblue;">
              <div>+1p</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" style="background-color: lightskyblue; color: darkblue;">
              <div *ngIf="language == 'en'">or</div>
              <div *ngIf="language == 'sw'">eller</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="9" style="background-color: lightskyblue; color: darkblue;">
              <div *ngIf="language == 'en'">Slope steeper than 35 degrees?</div>
              <div *ngIf="language == 'sw'">Lutar backen mer än 35 grader?</div>
            </ion-col>
            <ion-col size="1" style="background-color: lightskyblue; color: darkblue;">
              <ion-checkbox id="degrees2p" [(ngModel)]="degrees2pChecked" (ionChange)="upTerrainCharacteristics($event, 2)"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="background-color: lightskyblue; color: darkblue;">
              <div>+2p</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="9" style="background-color: lightskyblue; color: darkblue;">
              <div *ngIf="language == 'en'">Are there gullies, trees or cliffs that increase the consequence of being caught in an avalanche?</div>
              <div *ngIf="language == 'sw'">Några raviner, träd eller klippor som ökar konsekvenserna av att fångas i en lavin?</div>
            </ion-col>
            <ion-col size="1" style="background-color: lightskyblue; color: darkblue;">
              <ion-checkbox (ionChange)="upTerrainCharacteristics($event, 1)"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="background-color: lightskyblue; color: darkblue;">
              <div>+1p</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="9" style="background-color: lightskyblue; color: darkblue;">
              <div *ngIf="language == 'en'">Is the slope convex or unsupported?</div>
              <div *ngIf="language == 'sw'">Är backen konvex eller oskyddad?</div>
            </ion-col>
            <ion-col size="1" style="background-color: lightskyblue; color: darkblue;">
              <ion-checkbox (ionChange)="upTerrainCharacteristics($event, 1)"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="background-color: lightskyblue; color: darkblue;">
              <div>+1p</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="9" style="background-color: lightskyblue; color: darkblue;">
              <div *ngIf="language == 'en'">Is the slope in the alpine, in a sparsely treed area or in open forest (cut-block, burn, wide-spaced glades)?</div>
              <div *ngIf="language == 'sw'">Är sluttningen i det alpina, i ett glessträckt område eller i öppen skog?</div>
            </ion-col>
            <ion-col size="1" style="background-color: lightskyblue; color: darkblue;">
              <ion-checkbox (ionChange)="upTerrainCharacteristics($event, 1)"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="background-color: lightskyblue; color: darkblue;">
              <div>+1p</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    
    <ion-card class="avaluator-questions">
    <ion-card-content>
    <div *ngIf="language == 'en'">Evaluation: {{counter}}p. <span [style.color]="evalStyle">{{eval}}</span></div>
    <div *ngIf="language == 'sw'">Utvärdering: {{counter}}p. <span [style.color]="evalStyle">{{evalsw}}</span></div>
    <ion-grid style="text-align: center; color:rgb(255, 255, 255);">
      <ion-row>
        <ion-col *ngIf="language=='en'" size="1" style="color: black; font-size: 0.7rem;">A<br>v<br>a<br>l<br>a<br>n<br>c<br>h<br>e<br><br>c<br>o<br>n<br>d</ion-col>
        <ion-col *ngIf="language=='sw'" size="1" style="color: black; font-size: 0.6rem;">L<br>a<br>v<br>i<br>n<br>f<br>ö<br>r<br>h<br>å<br>l<br>l<br>a<br>n<br>d<br>e<br>n</ion-col>
        <ion-col>
      <ion-row>
        <ion-col style="background-color: lightgray; color:gray;">
          <div>6</div>
        </ion-col>
        <ion-col id="6-0" [style.background-color]="thisId == '6-0' ? 'maroon' : 'red'">
          <div>{{thisId == '6-0' ? counter : ''}}</div>
        </ion-col>
        <ion-col id="6-1" [style.background-color]="thisId == '6-1' ? 'maroon' : 'red'">
          {{thisId == '6-1' ? counter : ''}}
        </ion-col>
        <ion-col id="6-2" [style.background-color]="thisId == '6-2' ? 'maroon' : 'red'">
          {{thisId == '6-2' ? counter : ''}}
        </ion-col>
        <ion-col id="6-3" [style.background-color]="thisId == '6-3' ? 'maroon' : 'red'">
          {{thisId == '6-3' ? counter : ''}}
        </ion-col>
        <ion-col id="6-4" [style.background-color]="thisId == '6-4' ? 'maroon' : 'red'">
          {{thisId == '6-4' ? counter : ''}}
        </ion-col>
        <ion-col id="6-5" [style.background-color]="thisId == '6-5' ? 'maroon' : 'red'">
          {{thisId == '6-5' ? counter : ''}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="background-color: lightgray; color:gray;">
          <div>5</div>
        </ion-col>
        <ion-col id="5-0" [style.background-color]="thisId == '5-0' ? 'orange' : 'yellow'">
          {{thisId == '5-0' ? counter : ''}}
        </ion-col>
        <ion-col id="5-1" [style.background-color]="thisId == '5-1' ? 'orange' : 'yellow'">
          {{thisId == '5-1' ? counter : ''}}
        </ion-col>
        <ion-col id="5-2" [style.background-color]="thisId == '5-2' ? 'maroon' : 'red'">
          {{thisId == '5-2' ? counter : ''}}
        </ion-col>
        <ion-col id="5-3" [style.background-color]="thisId == '5-3' ? 'maroon' : 'red'">
          {{thisId == '5-3' ? counter : ''}}
        </ion-col>
        <ion-col id="5-4" [style.background-color]="thisId == '5-4' ? 'maroon' : 'red'">
          {{thisId == '5-4' ? counter : ''}}
        </ion-col>
        <ion-col id="5-5" [style.background-color]="thisId == '5-5' ? 'maroon' : 'red'">
          {{thisId == '5-5' ? counter : ''}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="background-color: lightgray; color:gray;">
          <div>4</div>
        </ion-col>
        <ion-col id="4-0" [style.background-color]="thisId == '4-0' ? 'rgb(2, 68, 17)' : 'green'">
          {{thisId == '4-0' ? counter : ''}}
        </ion-col>
        <ion-col id="4-1" [style.background-color]="thisId == '4-1' ? 'orange' : 'yellow'">
          {{thisId == '4-1' ? counter : ''}}
        </ion-col>
        <ion-col id="4-2" [style.background-color]="thisId == '4-2' ? 'orange' : 'yellow'">
          {{thisId == '4-2' ? counter : ''}}
        </ion-col>
        <ion-col id="4-3" [style.background-color]="thisId == '4-3' ? 'maroon' : 'red'">
          {{thisId == '4-3' ? counter : ''}}
        </ion-col>
        <ion-col id="4-4" [style.background-color]="thisId == '4-4' ? 'maroon' : 'red'">
          {{thisId == '4-4' ? counter : ''}}
        </ion-col>
        <ion-col id="4-5" [style.background-color]="thisId == '4-5' ? 'maroon' : 'red'">
          {{thisId == '4-5' ? counter : ''}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="background-color: lightgray; color:gray;">
          <div>3</div>
        </ion-col>
        <ion-col id="3-0" [style.background-color]="thisId == '3-0' ? 'rgb(2, 68, 17)' : 'green'">
          {{thisId == '3-0' ? counter : ''}}
        </ion-col>
        <ion-col id="3-1" [style.background-color]="thisId == '3-1' ? 'orange' : 'yellow'">
          {{thisId == '3-1' ? counter : ''}}
        </ion-col>
        <ion-col id="3-2" [style.background-color]="thisId == '3-2' ? 'orange' : 'yellow'">
          {{thisId == '3-2' ? counter : ''}}
        </ion-col>
        <ion-col id="3-3" [style.background-color]="thisId == '3-3' ? 'orange' : 'yellow'">
          {{thisId == '3-3' ? counter : ''}}
        </ion-col>
        <ion-col id="3-4" [style.background-color]="thisId == '3-4' ? 'maroon' : 'red'">
          {{thisId == '3-4' ? counter : ''}}
        </ion-col>
        <ion-col id="3-5" [style.background-color]="thisId == '3-5' ? 'maroon' : 'red'">
          {{thisId == '3-5' ? counter : ''}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="background-color: lightgray; color:gray;">
          <div>2</div>
        </ion-col>
        <ion-col id="2-0" [style.background-color]="thisId == '2-0' ? 'rgb(2, 68, 17)' : 'green'">
          {{thisId == '2-0' ? counter : ''}}
        </ion-col>
        <ion-col id="2-1" [style.background-color]="thisId == '2-1' ? 'orange' : 'yellow'">
          {{thisId == '2-1' ? counter : ''}}
        </ion-col>
        <ion-col id="2-2" [style.background-color]="thisId == '2-2' ? 'orange' : 'yellow'">
          {{thisId == '2-2' ? counter : ''}}
        </ion-col>
        <ion-col id="2-3" [style.background-color]="thisId == '2-3' ? 'orange' : 'yellow'">
          {{thisId == '2-3' ? counter : ''}}
        </ion-col>
        <ion-col id="2-4" [style.background-color]="thisId == '2-4' ? 'orange' : 'yellow'">
          {{thisId == '2-4' ? counter : ''}}
        </ion-col>
        <ion-col id="2-5" [style.background-color]="thisId == '2-5' ? 'maroon' : 'red'">
          {{thisId == '2-5' ? counter : ''}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="background-color: lightgray; color:gray;">
          <div>1</div>
        </ion-col>
        <ion-col id="1-0" [style.background-color]="thisId == '1-0' ? 'rgb(2, 68, 17)' : 'green'">
          {{thisId == '1-0' ? counter : ''}}
        </ion-col>
        <ion-col id="1-1" [style.background-color]="thisId == '1-1' ? 'rgb(2, 68, 17)' : 'green'">
          {{thisId == '1-1' ? counter : ''}}
        </ion-col>
        <ion-col id="1-2" [style.background-color]="thisId == '1-2' ? 'orange' : 'yellow'">
          {{thisId == '1-2' ? counter : ''}}
        </ion-col>
        <ion-col id="1-3" [style.background-color]="thisId == '1-3' ? 'orange' : 'yellow'">
          {{thisId == '1-3' ? counter : ''}}
        </ion-col>
        <ion-col id="1-4" [style.background-color]="thisId == '1-4' ? 'orange' : 'yellow'">
          {{thisId == '1-4' ? counter : ''}}
        </ion-col>
        <ion-col id="1-5" [style.background-color]="thisId == '1-5' ? 'orange' : 'yellow'">
          <div>{{thisId == '1-5' ? counter : ''}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="background-color: lightgray; color:gray;">
          <div>0</div>
        </ion-col>
        <ion-col id="0-0" [style.background-color]="thisId == '0-0' ? 'rgb(2, 68, 17)' : 'green'">
          <div>{{thisId == '0-0' ? counter : ''}}</div>
        </ion-col>
        <ion-col id="0-1" [style.background-color]="thisId == '0-1' ? 'rgb(2, 68, 17)' : 'green'">
          <div>{{thisId == '0-1' ? counter : ''}}</div>
        </ion-col>
        <ion-col id="0-2" [style.background-color]="thisId == '0-2' ? 'rgb(2, 68, 17)' : 'green'">
          <div>{{thisId == '0-2' ? counter : ''}}</div>
        </ion-col>
        <ion-col id="0-3" [style.background-color]="thisId == '0-3' ? 'rgb(2, 68, 17)' : 'green'">
          <div>{{thisId == '0-3' ? counter : ''}}</div>
        </ion-col>
        <ion-col id="0-4" [style.background-color]="thisId == '0-4' ? 'rgb(2, 68, 17)' : 'green'">
          <div>{{thisId == '0-4' ? counter : ''}}</div>
        </ion-col>
        <ion-col id="0-5" [style.background-color]="thisId == '0-5' ? 'orange' : 'yellow'">
          <div>{{thisId == '0-5' ? counter : ''}}</div>
        </ion-col>
      </ion-row>
      <ion-row style="color: grey;">
        <ion-col>
          <div></div>
        </ion-col>
        <ion-col style="background-color: lightgray;">
          <div>0</div>
        </ion-col>
        <ion-col style="background-color: lightgray;">
          <div>1</div>
        </ion-col>
        <ion-col style="background-color: lightgray;">
          <div>2</div>
        </ion-col>
        <ion-col style="background-color: lightgray;">
          <div>3</div>
        </ion-col>
        <ion-col style="background-color: lightgray;">
          <div>4</div>
        </ion-col>
        <ion-col style="background-color: lightgray;">
          <div>5</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="11" [style.color]="'black'" *ngIf="language == 'en'">Terrain characteristics</ion-col>
        <ion-col size="11" [style.color]="'black'" *ngIf="language == 'sw'">Terrängegenskaper</ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
</ion-content>
