<ion-header>
  <ion-toolbar>
    <ion-title>
      Weather
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="crd" (ionChange)="getWeather($event)"></ion-searchbar>
  <ion-card>
    <ion-card-content>
      <canvas id="weatherChartTempCanvas"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <canvas id="weatherChartWindCanvas"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <canvas id="weatherChartRainCanvas"></canvas>
    </ion-card-content>
  </ion-card>
  
</ion-content>